@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer: @ViewData["Developer"]</p>
<p>Email: @ViewData["Email"]</p>
<p>@ViewData["abc"]</p>

<a href="www.google.com">www.google.com</a>




@{ ViewData["Title"] = "Sobre";}
