@model Seller
@{
    ViewData["Title"] = "Seller details";
}

<h2>@ViewData["Title"]</h2>

<h4>Name</h4>
<p>@Model.Name</p>

<h4>Id</h4>
<p>@Model.Id</p>

<h4>Department</h4>
<p>@Model.Department.Name</p>

<h4>Birth date</h4>
<p>@Model.BirthDate</p>





